.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #d1c3b9;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(17, 16, 31);
}

.App-body {
  background-color: #f9f9f9;
  color: #0c0c0c;
}

.App-footer {
  height: 200px;
  background-color: #001333;
  color: #d1c3b9;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body-text {

}

.card-wrapper {
  background: #d1c3b9;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.card.card-wrapper:active, .card-wrapper:focus{
  background: #001333;
}

.card {
  background:#ffffff;
}
